{% extends 'base_template.html' %}
{% load static %}

  {% block title %}Success Stories & Tips – EduSpring academic and admission Coaching Blog Bangladesh{% endblock %}
  {% block extra_meta %}
  <meta name="description" content="Read real success stories of SSC, HSC & university admission students at EduSpring AAC. Get study tips, coaching updates, and inspiration from Bangladesh's top coaching center.">
  <meta name="keywords" content="EduSpring Academic and Admission Care, University admission coaching, SSC coaching, HSC coaching, Blog success story">
  <link rel="canonical" href="https://eduspringaac.com/all_blog">
  {% endblock%}
  {% block extra_css %}
  <style>
    .hero-banner {
  background-image: url('{{banner.banner_image.url}}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
  </style>
  {% endblock%}

{% block mainbody %}
<!-- page title -->
{% if banner %}
<section class="custom-top-space">
<div class="hero-banner">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{% url 'blog_page' %}">Our Story</a></li>
        </ul>
        <p class="text-white">{{ banner.banner_content }}</p>
      </div>
    </div>
  </div>
</div>
</section>
{%else%}
<div>banner image not found. image coming..</div>
{%endif%}
<!-- /page title -->

<!-- blogs -->
<section class="section">
  <div class="container">
    <div class="row">
      {% if blogs %}
      <!-- blog post -->
       {%for blog in blogs %}
      <article class="col-lg-4 col-sm-6 mb-5">
        <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{blog.blog_image.url}}" alt="Post thumb">
          <div class="card-body">
            <!-- post meta -->
            <ul class="list-inline mb-3">
              <!-- post date -->
              <li class="list-inline-item mr-3 ml-0">{{blog.published_date}}</li>
              <!-- author -->
              <li class="list-inline-item mr-3 ml-0">By {{blog.blog_posted_by}}</li>
            </ul>
            <a href="{% url 'blog_single' blog.id%}">
              <h4 class="card-title">{{blog.blog_title}}</h4>
            </a>
            <p class="card-text line-clamp">{{blog.blog_details}}</p>
            <a href="{% url 'blog_single' blog.id%}" class="btn btn-primary btn-sm">read more</a>
          </div>
        </div>
      </article>
      {%endfor%}
      {%else%}
      <p>all story is going to upload</p>
      {%endif%}
    </div>
  </div>
</section>
<!-- /blogs -->

{% endblock %}

{% block extra_js%}

  {% endblock %}
